.jingquleixing_tuandui{
	width: 500px;
	height: 300px;
}

.jingquleixing_sanke{
	width: 500px;
	height: 300px;
	border-left: 10px solid #EFF1FF;
}

.jingquleixingtop5{
	width: 100%;
	height: 300px;;
	border-top: 10px solid #EFF1FF;
}
